<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
      <nav class="navbar navbar-default navbar-static-top">
          <div class="container">
              <ul class="nav navbar-nav">
                  <li>
                      <a href="{% url 'index' %}" class="navbar-brand">DJANGO</a>
                  </li>
                  <li>
                      <a href="{% url 'admin:index' %}" class="navbar-link">Admin</a>
                  </li>
                  <li>
                      <a href="{% url 'basic_app:register' %}" class="navbar-link">Register</a>
                  </li>
                  {% if user.is_authenticated %}
                  <li>
                      <a href="{% url 'logout' %}" class="navbar-link">Logout</a>
                  </li>
                  {% else %}
                  <li>
                      <a href="{% url 'basic_app:user_login' %}" class="navbar-link">Login</a>
                  </li>
                  {% endif %}
              </ul>
          </div>
      </nav>
      <div class="container">
          {% block body_block %}
          {% endblock %}
      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
